<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <p>
            <a href="{{ path('admin_category') }}">Kategorie</a> |
            <a href="{{ path('admin_product') }}">Produkty</a> |
            <a href="{{ path('admin_purchase') }}">Objednávky</a> |
            <a href="{{ path('admin_user') }}">Uživatelé</a>
        </p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
