{% extends 'JmEshopBundle::layout.html.twig' %}

{% block body %}
<h1>Košík</h1>

<table border>
    {% for item in basketData %}
    <tr>
        <td>{{ item.product.about }}</td>
        <td>{{ item.product.price }} Kč</td>
        <td>{{ item.amount }} ks</td>
        <td><a href="{{ path('basket_delete', {'id': item.product.id}) }}">odebrat z košíku</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}