{% extends 'JmEshopBundle::adminlayout.html.twig' %}
{% block body %}
<h1>Category edit</h1>

<form action="{{ path('admin_category_edit', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_category') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('admin_category_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}