{% extends 'JmEshopBundle::adminlayout.html.twig' %}
{% block body %}
<h1>Product list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>About</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Visible</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_product_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.about }}</td>
            <td>{{ entity.amount }}</td>
            <td>{{ entity.price }}</td>
            <td>{{ entity.visible }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_product_edit', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_product_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_product_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}