{% extends 'JmEshopBundle::adminlayout.html.twig' %}
{% block body %}
<h1>Product creation</h1>

<form action="{{ path('admin_product_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_product') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}