{% extends 'JmEshopBundle::adminlayout.html.twig' %}
{% block body %}
<h1>Purchase list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Createdat</th>
            <th>Status</th>
            <th>Paymentmethod</th>
            <th>Variablenumber</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_purchase_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.address }}</td>
            <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.status }}</td>
            <td>{{ entity.paymentMethod }}</td>
            <td>{{ entity.variableNumber }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_purchase_edit', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_purchase_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_purchase_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}