{% extends 'JmEshopBundle::layout.html.twig' %}

{% block categoryMenu %}
{% render 'JmEshopBundle:CategoryFront:menu' with {'id': category.id} %}
{% endblock %}

{% block body %}
<h1>{{ category.name }}</h1>

<h2>Produkty</h2>

{% for item in items %}
<h3>{{ item.product.about }} - {{ item.product.price }} Kč</h3>
<form action="{{ path('basket_add', {'id': item.product.id}) }}" method="post">
    {{ form_widget(item.form) }}
    <input type="submit" value="přidat do košíku">
</form>
{% endfor %}

{% endblock %}