<p>Kategorie:</p>
{% macro tree(categories, current) %}
<ul>
{% for category in categories %}
<li>
    {% if category == current %}
    <strong>{{ category.name }}</strong>
    {% else %}
    <a href="{{ path('category_detail', {'id': category.id}) }}">{{ category.name }}</a>
    {% endif %}

    {% if category.children|length > 0 %}
       {{ _self.tree(category.children, current) }}
    {% endif %}
</li>
{% endfor %}
</ul>
{% endmacro %}

{{ _self.tree(categories, current) }}